/* colors */
html, *[theme="light"] {
  --neutral-1: 0,0,0;
  --neutral-2: 255,255,255;
  --accent-1: 40,120,200;
}
*[theme="dark"] {
  --neutral-1: 255,255,255;
  --neutral-2: 0,0,0;
  --accent-1: 120,40,200;
}
/* typography */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./fonts/open-sans-regular.woff2') format('woff2'), url('./fonts/open-sans-regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./fonts/open-sans-bold.woff2') format('woff2'), url('./fonts/open-sans-bold.woff') format('woff');
}
html {
  font-family: 'Open Sans', sans-serif;
}